.commentBoxContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.commentLabel {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 2px;
    align-self: flex-start;
    margin-left: 5%;
}

.textarea {
    background-color: #cdf3ff;
    border-radius: 5px;
    caret-color: black;
    border: 2px solid #888484;
    width: 90%;
    max-width: 90%;
    min-height: 120px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 10px;
    resize: none;
    margin: 2px auto;
    overflow-y: hidden;
    transition: height 0.1s ease;
    box-sizing: border-box;
    max-height: 400px;
    line-height: 1.3;
}

.textarea.expanded {
    overflow-y: auto;
}

.charCounter {
    width: 90%;
    text-align: right;
    font-size: 14px;
    color: #ffffff;
    margin-top: 2px;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .textarea {
        min-height: 150px;
        font-size: 16px;
        padding: 8px;
        max-height: 300px;
    }
    
    .commentLabel {
        font-size: 18px;
    }
    
    .charCounter {
        font-size: 12px;
    }
}