.header {
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 45px;
}

.header hr {
    min-width: 400px;
    width: 60%;
    margin: 0 auto;
}