.subHeader {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    margin: 10px 20px;
    font-size: 30px;
    width: 200px;
}

.subHeader hr {
    width: 180px;
    min-width: 180px;
    margin: 0 auto;
}

@media (max-width: 480px) {
    .subHeader {
        width: 90%;
        max-width: 280px;
        margin: 10px auto;
    }
    
    .subHeader hr {
        width: 90%;
        min-width: unset;
        max-width: 200px;
    }
}