.TextInput input {
    text-align: center;
    font-size: 25px;
    height: 40px;
    min-height: 40px;
    width: 165px;
    background-color: #cdf3ff;
    border-radius: 5px;
    caret-color: black;
    border: 2px solid #888484;
    box-sizing: border-box;
    padding: 0 10px;
    -webkit-appearance: none;
    appearance: none;
}

.TextInput {
    text-align: center;
    width: 165px;
    margin: 0 auto;
}